In [3]:
from dataclasses import dataclass

@dataclass
class Student:
    pass

In [4]:
stu1:Student = Student()
type(stu1)

__main__.Student

In [1]:
from dataclasses import dataclass

@dataclass
class Student:
    name:str
    chinese:int
    english:int
    math:int

    @property
    def sum(self): # def 一定要加self
        return self.chinese + self.english + self.math

    def average(self): #實體方法 
        return round(self.sum / 3.0,ndigits=2)

In [2]:
stu1:Student = Student(name="robert",
                       chinese=98,
                       english=75,
                       math=69)

stu2:Student = Student(name="jenny",
                       chinese=87,
                       english=92,
                       math=75)

In [11]:
stu1.name,stu1.chinese,stu1.english,stu1.math #tuple

('robert', 100, 75, 69)

In [12]:
stu1.chinese = 100
#stu1.sum = 300 一般的property只可以讀,不可以寫入(readonly)
print((stu1.name, stu1.chinese, stu1.english, stu1.math)) 
print(stu1.sum) #呼叫property
print(stu1.average()) #呼叫實體方法

('robert', 100, 75, 69)
244
81.33

In [13]:
stu2.name,stu2.chinese,stu2.english,stu2.math

('jenny', 87, 92, 75)

In [14]:
print((stu2.name, stu2.chinese, stu2.english, stu2.math))
print(stu2.sum)
print(stu2.average())

('jenny', 87, 92, 75)
254
84.67